/* You can add global styles to this file, and also import other style files */
@use "/src/variables";

@keyframes AlertAnim {
  from {
    transform: translateX(-1500px);

  }
  to {
    transform: translateX(0);
  }
}

.header {
  width: 100%;
}
.container {
  width: 100%;
  padding: 0;
  max-width: 100%;
}
* {
  box-sizing: border-box;
}


@keyframes addBrnAni {
  from     { background: #00caf8;}
  to {     background: #073a9a ;}
}
.add-btn {
  font-size: 19px;
  font-weight: 500;
  width: 170px;
  padding: 5px;
  border-radius: 15px;
  background: variables.$defaultGradient;
  transition: all 700ms ease-out;
  animation: 1s addBrnAni ease-in-out infinite;
  animation-direction: alternate;
  &:hover {
    cursor: pointer;
    color: #fff;
    background: linear-gradient(180deg, #3a32c6 11%, #3737c2 21%, #00d4ff 100%) ;
  }
}
.notReady {
  animation: none !important;
  color: #fff !important;
  cursor: default !important;
}
.error {
  input {
    border-bottom: 2px solid red !important;
    color: red;
    text-decoration-line: none;
    box-shadow: none !important;
  }
  textarea {
    border-left: 5px solid red !important;
  }
}
.errorMess {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 10px;
  color: red;
  margin: 10px auto;
  text-align: center;
}
.Wrapper {
  width: 100%;
  max-width: 1270px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.closeModal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  font-size: variables.$defaultFontSize;
  background: variables.$defaultGradient;
  background-color: inherit;
  border: 2px solid grey;
  border-radius: 10px;
  line-height: 20px;
  padding: 1px 8px 4px 8px;
  &:hover {
    cursor: pointer;
    color: #fff;
  }
}
.contentTextbox {
  textarea {
    border-radius: 10px;
    padding: 5px;
    font-size: variables.$defaultFontSize;
    color: #000;
    min-height: 100px;
    overflow: auto;
  }
}
