/* You can add global styles to this file, and also import other style files */
@use "/src/variables";
.header {
  width: 100%;
}
.container {
  width: 100%;
  padding: 0;
  max-width: 100%;
}
* {
  box-sizing: border-box;
}


@keyframes addBrnAni {
  from     { background: #00caf8;}
  to {     background: #073a9a ;}
}
.add-btn {
  font-size: 20px;
  font-weight: 500;
  width: 140px;
  padding: 5px;
  border-radius: 15px;
  background: variables.$defaultGradient;
  transition: all 700ms ease-out;
  animation: 1s addBrnAni ease-in-out infinite;
  animation-direction: alternate;
  &:hover {
    cursor: pointer;
    color: #fff;
    background: linear-gradient(180deg, #3a32c6 11%, #3737c2 21%, #00d4ff 100%) ;
  }
}
.ready {
  animation: none !important;
  color: #fff !important;
  cursor: default !important;
}
.error {
  input {
    border-bottom: 2px solid red !important;
    color: red;
    text-decoration-line: none;
    box-shadow: none !important;
  }
  textarea {
    border-left: 5px solid red !important;
  }
}
.errorMess {
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  font-size: 10px;
  color: red;
  margin: 10px auto;
  text-align: center;
}
.Wrapper {
  width: 100%;
  max-width: 1270px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
