$defaultFontSize: 20px;
$secondaryFontSize: 15px;
$defaultFontWeight: 500;
$defaultMargin: 0 auto;
$defaultGradient: linear-gradient(180deg, #3a32c6 11%, #3737c2 21%, #00d4ff 100%);
$boxShadow: 0 0 3px 3px grey;
