<div class="Wrapper">
    <div class="homeHeader">
      <app-search (stringEvent)="getString($event)" ></app-search>
      <div>
        <button class="add-btn" [ngClass]="{notReady: addNewStory}" type="submit" (click)="submitBtn($event)" >Add Story</button>
      </div>
    </div>
    <app-modal></app-modal>
    <app-stories-list [searchStr]="searchStr"></app-stories-list>
    <div *ngIf="addNewStory">
      <app-add-story-modal (closeModalFunc)="closeAddNewStory()">
      </app-add-story-modal>
    </div>
</div>
