<nav>
  <div class="toolbarWrapper">
    <a href="/" class="logo">
      <img src="../../../assets/images/matrix.svg" alt="MARTIX">
    </a>
    <ul class="rightButtons">
      <div *ngIf="token; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock>
        <li><a routerLink="/stories">Stories</a></li>
        <li><a (click)="logout($event)">LogOut</a></li>
      </ng-template>
      <ng-template #elseBlock>
        <li><a routerLink="/register">Register</a></li>
        <li><a routerLink="/login">Login</a></li>
      </ng-template>
    </ul>
  </div>
</nav>

