nav {
  height: 100%;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 11%, rgba(9,9,121,1) 21%, rgba(0,212,255,1) 100%);
}
.toolbarWrapper {
    padding: 5px 20px;
    height: 100%;
    display: flex;
    line-height: initial;
    justify-content: space-between;
    a {
      font-size: 22px;
      font-weight: 500;
      transition: 1s;
      &:hover {
        background: inherit;
        cursor: pointer;
        color: #000;
      }
    }
    .logo {
      border-radius: 60%;
      background-color: #fff !important;
    }
    img {
      border-radius: 50%;
      padding: 4px;
      height: 65px;
      transform: translateY(3px);
    }
  ul {
    display: flex;
    align-items: center;
  }
  }
