<div *ngIf="stories.length > 0" class="storiesWrapper">
  <div *ngIf="(stories | searchPipe: searchStr).length > 0; then thenBlock else elseBlock" ></div>
  <ng-template #thenBlock>
    <div *ngFor="let story of stories | searchPipe: searchStr" >
        <app-story [createdDate]="story.createdDate"
                   [updatedDate]="story.updatedDate"
                   [title]="story.title"
                   [content]="story.content"
                   [imageUrl]="story.imageUrl"
                   [likesCount]="story.likesCount"
                   [author]="story.author"
                   [isLikedByCurrentUser]="story.isLikedByCurrentUser"
                   [postId]="story.id"
        ></app-story>
    </div>
  </ng-template>
  <ng-template #elseBlock>
    <div class="noStories">No Stories found</div>
  </ng-template>
</div>
