@use "src/variables.scss";

.storiesWrapper {
  width: 100%;
  display: grid;
  justify-content: space-around;
  padding: 0 10px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 380px));
  grid-gap: 30px;
  align-items: center;
  margin: 25px 0;
  @media screen and  (max-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(280px, 330px));
  }
}
.noStories {
  text-align: center;
  font-size: variables.$defaultFontSize;
  font-weight: variables.$defaultFontWeight;
}
