<div class="authForm">
      <div class="errorMess">{{FormErrorService.getErrorMessage()}}</div>
    <form [formGroup]="resetPasswordGroup" >
      <div *ngIf="!resetPasswordPage; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock>
        <div class="emailInput" [ngClass]="{
      error: FormErrorService.errorMsg[ErrorEnum.email]
      }">
          <label for="email">Enter your email</label>
          <input id="email" type="text" formControlName="email" (blur)="onInputValueChange()">
        </div>
      </ng-template>
      <ng-template #elseBlock>
        <div class="passwordInput" [ngClass]="{
          error: FormErrorService.errorMsg[ErrorEnum.password]
        }">
          <label for="password">Password </label>
          <input  id="password" type="{{visibilityPassword? 'text': 'password'}}" formControlName="password" (blur)="onInputValueChange()"/>
          <div *ngIf="visibilityPassword; then thenBlock else elseBlock" ></div>
          <ng-template #thenBlock><img  class="visibilityIcon" src="./assets/images/visibilityOn.svg" (click)="setVisibility('password')"/></ng-template>
          <ng-template #elseBlock><img  class="visibilityIcon" src="./assets/images/visibilityOff.svg" (click)="setVisibility('password')"/></ng-template>
        </div>
        <div class="passwordInput" [ngClass]="{
          error: FormErrorService.errorMsg[ErrorEnum.repeatPassword]
        }">
          <label for="repeatPassword">Repeat Password </label>
          <input  id="repeatPassword" type="{{visibilityPasswordRepeat? 'text': 'password'}}" formControlName="repeatPassword" (blur)="onInputValueChange()"/>
          <div *ngIf="visibilityPasswordRepeat; then thenBlock else elseBlock" ></div>
          <ng-template #thenBlock><img  class="visibilityIcon" src="./assets/images/visibilityOn.svg" (click)="setVisibility('repeatPassword')"/></ng-template>
          <ng-template #elseBlock><img  class="visibilityIcon" src="./assets/images/visibilityOff.svg" (click)="setVisibility('repeatPassword')"/></ng-template>
        </div>
      </ng-template>
      <button class="add-btn"
              style="transform: translateY(20px)"
              [ngClass]="{notReady: FormErrorService.getErrorMessage() || !resetPasswordGroup.valid}"
              style="display: block; margin: 20px auto"
              (click)="submitForm($event)" [disabled]="FormErrorService.getErrorMessage() || !resetPasswordGroup.valid">
        {{resetPasswordPage? "Reset password" : "Request password change"}}</button>
    </form>
</div>
