<div class="addStoryModal">
  <button class="closeModal" (click)="closeModal()">X</button>
  <div *ngIf="!storyGroup.valid">
      <div class="errorModalMess">{{errorMsg}}</div>
  </div>
  <form [formGroup]="storyGroup">
    <div class="titleInput" [ngClass]="{error: storyGroupControls.title.touched  && !!storyGroupControls.title.errors }" >
      <label for="title">Title </label>
      <input id="title" type="text" formControlName="title" (ngModelChange)="getErrorMessage()">
    </div>
    <div class="contentTextbox" [ngClass]="{error: storyGroupControls.content.touched  && !!storyGroupControls.content.errors}" >
      <label for="content">Content </label>
      <textarea  id="content" type="text" formControlName="content" (ngModelChange)="getErrorMessage()"></textarea>
    </div>
    <div class="imageLabel" [ngClass]="{ready: imageSrc}">
      <label for="image">
        {{imageSrc? 'Image Added': 'Add Image'}}</label>
      <input id="image" type="file" (change)="onFileChange($event)">
    </div>
    <button class="add-btn" type="submit"
            style="transform: translateY(20px)"
            [ngClass]="{ready: !imageSrc || !storyGroup.valid}"
            (click)="onSubmitBtn($event)" [disabled]="!imageSrc || !storyGroup.valid">Add Story</button>
  </form>

</div>
