<div class="authForm">
  <div *ngIf="FormErrorService.errorMsg.value">
    <div class="errorMess">{{FormErrorService.errorMsg.value}}</div>
  </div>
  <form [formGroup]="authGroup">
    <div class="emailInput" *ngIf="register" [ngClass]="{
      error: FormErrorService.errorMsg.type === 'displayName'
      }">
      <label for="displayName">Name </label>
      <input id="displayName" type="text" formControlName="displayName" (blur)="onInputValueChange()">
    </div>
    <div class="emailInput" [ngClass]="{
      error: FormErrorService.errorMsg.type === 'email'
      }">
      <label for="email">Email </label>
      <input id="email" type="text" formControlName="email" (blur)="onInputValueChange()">
    </div>
    <div class="passwordInput" [ngClass]="{
      error: FormErrorService.errorMsg.type === 'password'
    }">
      <label for="password">Password </label>
      <input  id="password" type="{{visibilityPassword? 'text': 'password'}}" formControlName="password" (blur)="onInputValueChange()"/>
      <div *ngIf="visibilityPassword; then thenBlock else elseBlock" ></div>
      <ng-template #thenBlock><img  class="visibilityIcon" src="./assets/images/visibilityOn.svg" (click)="setVisibility('password')"/></ng-template>
      <ng-template #elseBlock><img  class="visibilityIcon" src="./assets/images/visibilityOff.svg" (click)="setVisibility('password')"/></ng-template>
    </div>
    <div class="passwordInput" *ngIf="register" [ngClass]="{
      error: FormErrorService.errorMsg.type === 'repeatPassword'
    }">
      <label for="repeatPassword">Repeat Password </label>
      <input  id="repeatPassword" type="{{visibilityPasswordRepeat? 'text': 'password'}}" formControlName="repeatPassword" (blur)="onInputValueChange()"/>
      <div *ngIf="visibilityPasswordRepeat; then thenBlock else elseBlock" ></div>
      <ng-template #thenBlock><img  class="visibilityIcon" src="./assets/images/visibilityOn.svg" (click)="setVisibility('repeatPassword')"/></ng-template>
      <ng-template #elseBlock><img  class="visibilityIcon" src="./assets/images/visibilityOff.svg" (click)="setVisibility('repeatPassword')"/></ng-template>
    </div>
  </form>
  <button class="add-btn" type="submit"
          style="transform: translateY(20px)"
          [ngClass]="{notReady: FormErrorService.errorMsg.value || !authGroup.valid}"
          style="display: block; margin: 20px auto"
          (click)="onSubmitBtn($event)" [disabled]="FormErrorService.errorMsg.value || !authGroup.valid">{{register? "Creat Account" : "Login"}}</button>
</div>
