<div class="story">
  <h3><strong>Title:</strong> {{story.title}}</h3>
  <div class="storyMain">
    <img alt ="" src="{{story.imageUrl || defaultImage}}"
         (error)="imageService.errorImage($event)"/>
    <div class="storyInfoWrapper">
      <div class="authorName"><strong>author: </strong>{{story.author? story.author.displayName : 'unknown'}}</div>
      <div class="updatedDate"><strong>updated at:</strong> {{story.updatedDate | moment}}</div>
      <div class="createdDate"><strong>created at:</strong> {{story.createdDate | moment}}</div>
      <div class="storyLikes">
        <div class="likesCount"><strong>Likes:</strong> {{story.likesCount}}</div>
        <img src="/assets/images/like.png" [ngClass]="story.isLikedByCurrentUser? 'liked': ''" (click)="likeUnlikePost()">
      </div>
    </div>
  </div>
  <p>{{story.content}}</p>
  <button type="submit" class="add-btn" (click)="openModal($event)">Read More</button>
</div>
